<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Grids & Circles</title>
</head>
<body class="container-fluid">
<h1>Grids & Circles</h1>
<h2>Order Management</h2>
<hr/>
<h3>Order Detail</h3>
<form th:action="@{/orders/{id}(id=${order.orderId})}" th:method="put">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" th:value="${order.email.getAddress()}" required>
    </div>

    <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" id="address" name="address" th:value="${order.address}">
    </div>

    <div class="mb-3">
        <label for="postcode" class="form-label">postcode</label>
        <input type="text" class="form-control" id="postcode" name="postcode" th:value="${order.postcode}">
    </div>

    <div class="mb-3">
        <label for="orderStatus" class="form-label">Order Status</label>
        <select id="orderStatus" name="orderStatus" class="form-select" th:value="${order.orderStatus}">
            <option selected>Open this select menu</option>
            <option value="ACCEPTED">ACCEPTED</option>
            <option value="PAYMENT_CONFIRMED">PAYMENT_CONFIRMED</option>
            <option value="READY_FOR_DELIVERY">READY_FOR_DELIVERY</option>
            <option value="SHIPPED">SHIPPED</option>
            <option value="SETTLED">SETTLED</option>
            <option value="CANCELLED">CANCELLED</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<hr/>
<h3>Order Items</h3>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th scope="col">ProductId</th>
        <th scope="col">Category</th>
        <th scope="col">price</th>
        <th scope="col">quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderItem : ${order.orderItems}" th:object="${orderItem}">
        <!--            <td th:text="*{orderId}" th:onClick="location.href=*{'/products/' + orderId}"></td>-->
        <td>
            <a th:href="@{/products/{productId}(productId=*{productId})}" th:text="*{productId}"></a>
        </td>
        <td th:text="*{category}"></td>
        <td th:text="*{price}"></td>
        <td th:text="*{quantity}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>